apiVersion: apps/v1
kind: Deployment
metadata:
  name: django-app
  labels:
    app: django
spec:
  replicas: 2
  selector:
    matchLabels:
      app: django
  template:
    metadata:
      labels:
        app: django
    spec:
      containers:
        - name: django
          image: 138256873419.dkr.ecr.us-west-1.amazonaws.com/django-notes-app:v1
          ports:
            - containerPort: 8000

